In [95]:
# 1)
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,22, 61, 34)}, [56, 'data science'], 'Machine Learning']

In [96]:
def func(l):
    flat_list = []
    product = 1
    for i in l:
        if type(i) == list or type(i) == tuple or type(i) == set:
            for j in i:
                flat_list.append(j)
        elif type(i) == dict:
            for j in i.items():
                for k in j:
                    if type(k) == list or type(k) == tuple:
                        for m in k:
                            flat_list.append(m)
                    else:
                        flat_list.append(k)
        else:
            flat_list.append(i)
    for i in flat_list:
        if type(i) == int or type(i) == float:
            product = product * i
    return product

In [97]:
print(func(list1))
func(list1) == 1 * 2 *3*4 *44*55*66 *34*56*78*89*34*1*2*3*1 *1*34 *55*67* 78*89* 4*45*22*61*34*56

4134711838987085478833841242112000

True

In [98]:
# 2)
msg = "I want to become a Data Scientist."

In [86]:
def encrypt(msg):
    import string
    ordered_list = list(string.ascii_lowercase)
    reversed_list = list(string.ascii_lowercase)
    reversed_list.reverse()
    rev_msg = ""
    for i in msg.lower():
        if i == '.' or i == ',' or i == '!' or i == ':' or i == ';':
            rev_msg += i
        elif i == ' ':
            rev_msg += '$'
        else:
            index = ordered_list.index(i)
            rev_msg += reversed_list[index]
    return rev_msg

In [ ]:
rev = ""
rev + '

In [87]:
encrypt(msg)

'r$dzmg$gl$yvxlnv$z$wzgz$hxrvmgrhg.'